@page "/superheroes"
@inject ISuperHeroService SuperHeroService
@inject NavigationManager NavigationManager

<style>
    body {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
</style>

<PageTitle>Super Heroes</PageTitle>

<h3>Super Heroes</h3>

@if (@SuperHeroService.Heroes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid Data="@SuperHeroService.Heroes" TItem="SuperHero" PageSize="5" AllowPaging="true"
        AllowFiltering="true" AllowColumnResize="true" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn Width="50px" TItem="SuperHero" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                <Template Context="Hero">
                    @(SuperHeroService.Heroes.IndexOf(Hero) + 1)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SuperHero" Property="FirstName" Title="First Name" />
            <RadzenDataGridColumn TItem="SuperHero" Property="LastName" Title="Last Name"/>
            <RadzenDataGridColumn TItem="SuperHero" Property="HeroName" Title="Hero Name"/>
            <RadzenDataGridColumn TItem="SuperHero" Property="Comic.Name" Title="Comic Name"/>
            <RadzenDataGridColumn Width="160px" TItem="SuperHero" Property="id" Title="Show Button">
            <Template Context="Data">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="info" Class="m-1" Click=@(() => ShowHero(Data.Id)) Text="Show" />
            </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
<br />

@*<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hero Name</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in SuperHeroService.Heroes)
        {
            <tr>
                <td>@hero.FirstName</td>
                <td>@hero.LastName</td>
                <td>@hero.HeroName</td>
                <td>@hero.Comic.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowHero(hero.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<button class="btn btn-primary" @onclick="CreateNewHero">Create New Hero</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SuperHeroService.GetSuperHeroes();
    }

    void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"hero/{id}");
    }

    void CreateNewHero()
    {
        NavigationManager.NavigateTo("/hero");
    }
}
